// ブレイクポイント
$tab: 1024px; // タブレット
$sp: 599px; // スマホ

@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

// カラー
$LightBlack: rgba(0, 0, 0, 0.8);

// mixin
@mixin basePage {
  margin: 0 auto;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
